layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    tab name="1. Editor" focus=true {
        pane 
    }
    tab name="2. Shell" {
        pane
    }
    tab name="3. Lazygit" {
        pane command="lazygit"
    }
    tab name="4. Server" {
        pane
    }
}
