/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #7a555a !important;
  --toolbarbutton-icon-fill: #f2cdcd !important;
  --toolbar-field-color: #cdd6f4 !important;
  --tab-selected-textcolor: #f2cdcd !important;
  --toolbar-color: #cdd6f4 !important;
  --arrowpanel-color: #cdd6f4 !important;
  --arrowpanel-background: #1e1e2e !important;
  --sidebar-text-color: #cdd6f4 !important;
  --zen-main-browser-background: #1e1e2e !important;
}

.sidebar-placesTree {
  background-color: #1e1e2e !important;
}

#zen-workspaces-button {
  background-color: #1e1e2e !important;
}

#TabsToolbar {
  background-color: #1e1e2e !important;
}

.urlbar-background {
  background-color: #1e1e2e !important;
}

.urlbar-input::selection {
  color: #1e1e2e !important;
  background-color: #f2cdcd !important;
}

.urlbarView-url {
  color: #a6adc8 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #f2cdcd
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffdddd !important;
  --identity-icon-color: #ffdddd !important;
}

.identity-color-turquoise {
  --identity-tab-color: #f2cdcd !important;
  --identity-icon-color: #f2cdcd !important;
}

.identity-color-green {
  --identity-tab-color: #b9ffa5 !important;
  --identity-icon-color: #b9ffa5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffeda5 !important;
  --identity-icon-color: #ffeda5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffe372 !important;
  --identity-icon-color: #ffe372 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9f9f !important;
  --identity-icon-color: #ff9f9f !important;
}

.identity-color-pink {
  --identity-tab-color: #ffe3e3 !important;
  --identity-icon-color: #ffe3e3 !important;
}

.identity-color-purple {
  --identity-tab-color: #705050 !important;
  --identity-icon-color: #705050 !important;
}

#zen-appcontent-navbar-container {
  background-color: #1e1e2e !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #f2cdcd !important;
  color: #f2cdcd !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #f2cdcd !important;
  color: #f2cdcd !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #f2cdcd !important;
}
